@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 76, 34, 20;
  --background-start-rgb: 90, 111, 42;
  --background-end-rgb: 228, 145, 51;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.font-handwriting {
  font-family: "Amatic SC", cursive;
}

